SDKROOT = $DEVROOT/SDKs/iPhoneOS.sdk
PREBINDING = NO
ZERO_LINK = NO
GCC_ENABLE_FIX_AND_CONTINUE = NO
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_NON_VIRTUAL_DESTRUCTOR = YES
GCC_WARN_HIDDEN_VIRTUAL_FUNCTIONS = YES
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_WARN_MISSING_PARENTHESES = YES
GCC_WARN_CHECK_SWITCH_STATEMENTS = YES
GCC_WARN_UNUSED_LABEL = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_WARN_UNUSED_VALUE = YES
GCC_WARN_SHADOW = NO
GCC_WARN_SIGN_COMPARE = YES
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_INLINES_ARE_PRIVATE_EXTERN = YES
GCC_SYMBOLS_PRIVATE_EXTERN = YES
GCC_GENERATE_DEBUGGING_SYMBOLS = NO
GCC_OPTIMIZATION_LEVEL = s
ARCHS = arm64 armv7 armv7s
VALID_ARCHS = arm64 armv7 armv7s
SYMROOT = ../build
GCC_OBJC_CALL_CXX_CDTORS = YES
SHARED_PRECOMPS_DIR = $(OBJROOT)/SharedPrecompiledHeaders
OTHER_CFLAGS = -fvisibility=hidden;